.Card {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #184A45;
    border-radius: 20px;
    padding: 30px;
}

.Profile {
    width: 8%;
    border-radius: 50%;
    transition-duration: 1s;
}

.Profile:hover {
    box-shadow:0 0px 0px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    transform: scale(1.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

.Option {
    margin: 0 auto;
    display: table;
}

.Option li {
    display: inline;
    padding: 15px;
}

.ActiveButton {
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: lightskyblue;
    padding: 15px 60px;
    width: 180px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.2s;
}

.SilentButton {
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: grey;
    padding: 15px 60px;
    width: 180px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: whitesmoke;
    color: darkorchid;
    transform: translateY(-10px);
}

.Modules .content{
    height: 400px;
    overflow: scroll;
    padding:2%;
    overflow-x: hidden; 
}

.Modules button {
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #FC766A;
    padding: 15px 80px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.Modules button:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: whitesmoke;
    color: darkorchid;
    transform: translateY(-10px);
}

.Modules p {
    color: darkslategray;
}

.Modules h2 {
    text-decoration: underline;
}

p {
    color: whitesmoke;
    font-size: 1.1em;
}

h2 {
    color: darkturquoise;
}

h3 {
    color: lightslategray;
}

hr {
    border-color: darkturquoise;
    width: 90%;
}

@media screen and (max-width: 600px) {
    .Option {
        margin: auto;
        display: block;
    }
    
    .Option li {
        display: block;
        padding: 15px;
    }

    .Card {
        padding: 20px;
    }

    .Profile {
        width: 20%;
    }

    .Modules .content{
        /* width: 70vw; */
        height: 200px;
        overflow: scroll;
        overflow-x: hidden; 
    }
}