.Background {
  /* DARK GREY: #184A45FF */
  /* LGHT GREY: #B0B8B4FF */
  /* ORANGE: #FC766AFF */
  background-color: #184A45;
}

html {
  scroll-behavior: smooth;
}

.Body {
  padding: 3%;
  text-align: center;
}

.Background nav {
  width: 100%;
  background-color: whitesmoke;
  opacity: 0.9;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
}

.Background ul {
  display: table;
  margin: 0 auto;
  list-style: none;
}
.Background li {
  display: inline;
}

.Background a {
  padding: 10px;
  color: #184A45;
  text-decoration: none;

}

.Background .MyName {
  color: hotpink;
  font-weight: 700;
}