.Header {
    width: 100%;
    background-image: url("../media/header-background.png");
    background-size: cover;
    background-color: rgb(33, 10, 44);
    background-blend-mode: screen;
    text-align: center;
  }
  
  .HeaderText {
    padding: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
  }

  h1 {
    color: whitesmoke;
  }

  .HeaderText h3 {
    color: whitesmoke;
  }
  
  .Name {
    color: hotpink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
