.Header {
    width: 100%;
    background-image: url("../media/penguin.jpg");
    /* background-size: cover; */
    /* background-color: rgb(33, 10, 44); */
    /* background-blend-mode: screen; */
    text-align: center;
    height: auto;
  }
  
  .HeaderText {
    margin: 0 auto;
    padding: 9%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
  }

  .Shade {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.69);
    border-radius: 30px;
    padding-top: 9%;
    padding-bottom: 9%;
    width: 60%;
  }

  .HeaderText h3 {
    color: whitesmoke;
    font-weight: 900;
  }

  .HeaderText h2 {
    color: whitesmoke;
    font-weight: 900;
    display: inline;
  }
  
  .Name {
    display: inline;
    color: hotpink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
  }

  @media screen and (max-width: 600px) {
    .Header {
      height: auto;
    }

    .Shade {
      width: 90%;
    }
  }
