.Projects {
    padding-top: 30px;
}

.Projects .Card {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #184A45;
    border-radius: 20px;
    padding: 30px;
    height: 500px;
    /* height: auto; */
}

.Options {
    margin: 0 auto;
    display: table;
}

.Options li {
    display: inline;
    padding: 15px;
}

.ProjectsContent {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

/* table, th, td {
    border: 1px solid black;
} */

td {
    height: 200px;
    width: 200px;
}

.ProjPic {
    height: 200px;
    width: 200px;
}

.ProjSquare {
    width: 200px;
    height: auto;
    position: relative;
}

.Container .ProjBtn {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 25px;
    height: 200px;
    width: 200px;
    opacity: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
  }
  
.Container .ProjBtn:hover {
    color: black;
    /* background-color: rgba(255, 255, 255, 0.74); */
    transform: translate(0%, 0%);
    opacity: 0.9;
}

.actions {
    text-align: center;
}

.actions button {
    padding: 15px 30px;
}

.actions .SpecButton {
    padding: 10px;
    display: inline;
}

.HackathonsContent {
    display: table;
    margin: 0 auto;
}

.HackathonsContent .HackExpln {
    float: left;
    width: 400px;
    height: 200px;
    padding: 50px;
    padding-top: 100px;;
    /* border: 1px solid black; */
}

.HackathonsContent .HackList {
    float: left;
    width: 350px;
}

.HackathonsContent ul {
    height: 350px;
    width: 350px;
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: whitesmoke;
    color: #184A45;
    list-style-type: circle;
    text-align: center;
    list-style-position: inside;
}

.HackathonsContent li {
    padding-top: 15px;
    transition-duration: 0.2s;
}

.HackathonsContent li:hover {
    transform: scale(1.5);
}

.SkillsContent {
    display: table;
    margin: 0 auto;
}

.SkillsCard {
    float: left;
    padding: 20px;
    height: 350px;
    width: 200px;
}

.SkillsCard ul {
    height: 350px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

.SkillsCard li {
    transition-duration: 0.2s;
}

.SkillsCard li:hover {
    transform: scale(1.3);
}

.SkillsLanguage ul{
    background-color: #FC766A;
    color: blanchedalmond;
}

.SkillsFrameworks ul{
    background-color: rgb(115, 228, 3);
    color: chocolate;
}

.SkillsCertifications ul{
    background-color: cornflowerblue;
    color: lightblue;
}

.SkillsCard lh{
    color: black;
    font-size: 1.3em;
    font-weight: 700;
}

.SkillsCard .subHeader {
    color: black;
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
}

.SkillsCard hr {
    border: 1px solid greenyellow;
}

@media screen and (max-width: 1200px) {
    .Projects .Card {
        padding: 20px;
        height: auto;
    }

    .Projects {
        padding-top: 20px;
    }

    .Projects .Options {
        margin: auto;
        display: block;
    }
    
    .Projects .Options li {
        display: block;
        padding: 15px;
    }
    .actions .SpecButton {
        padding: 10px;
        display: block;
    }

    td {
        height: 150px;
        width: 150px;
    }
    
    .ProjPic {
        height: 150px;
        width: 150px;
    }
    
    .ProjSquare {
        width: 150px;
        height: auto;
        position: relative;
    }

    .Container .ProjBtn {
        position: absolute;
        top: 10%;
        left: 10%;
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: 25px;
        height: 120px;
        width: 120px;
        opacity: 0.9;
        border: none;
        outline: none;
        cursor: pointer;
        transition-duration: 0.2s;
        font-size: 20px;
      }
    
    .HackathonsContent {
        display: block;
    }
    
    .HackathonsContent .HackExpln {
        float: none;
        width: auto;
        height: auto;
        padding: 20px;
    }
    
    .HackathonsContent .HackList {
        float: none;
        width: auto;
    }
    
    .HackathonsContent ul {
        height: auto;
        width: auto;
        border-radius: 10px;
        box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: whitesmoke;
        color: #184A45;
        list-style-type: circle;
        text-align: center;
        list-style-position: inside;
    }

    .SkillsContent {
        display: inline-block;
        margin: auto;
    }
    
    .SkillsCard {
        float: none;
        padding: 20px;
        height: auto;
        width: 200px;
    }

    .SkillsCard ul {
        height: auto;
    }
    
}